<% provide(:title, t('articles.index.title')) %>

<h1><%= t 'articles.index.content' %></h1>
<%= render 'searcher' %>
<%= link_to t('articles.index.new'), new_article_path %>  
<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th> <%=  index_table_header t('articles.index.id_table'), :id, @field, @direction %> </th>    
      <th> <%=  index_table_header t('articles.index.title_table'), :title, @field, @direction %> </th>
      <th> <%=  index_table_header t('articles.index.release_table'), :title, @field, @direction %></th>
      <th> <%=  t('articles.index.info_table') %> </th>
    </tr>
  </thead>
  <tbody>  
    <li>        
    <% @articles.each do |article| %>
      <tr>
       <td>
         <%= link_to article.id, article_path(article) %>
       </td>
	     <td>
	       <%= link_to (article.title|| t('articles.untitled')), article_path(article) %>	       
    	 </td>
       <td>
         <%= time_ago_in_words(article.created_at) %>
       </td>	     
       <td>
          <% article.tags.each do |tag| %>
            <%= link_to tag.name, filter_article_path(tag.name) %>   
          <% end %>
       </td>       
      </tr>
    <% end %>
    </li>
  </tbody>  
</table>

<%= will_paginate %>

