<% provide(:title, 'Index') %>
<h1> All Articles </h1>
<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th> <%=  index_table_header 'Article Title', :title, @title, @direction %> </th>
      <th> Release Date </th>
      <th> More Info </th>
    </tr>
  </thead>

  <tbody>  
    <li>
    <%= link_to 'Add new article', new_article_path %>          
    <% @articles.each do |article| %>
      <tr>
	     <td>
	       <%= link_to article.title, article_path(article) %>
    	 </td>
	     <td>
	       <%= article.title %>
	     </td>
      </tr>
    <% end %>
  </tbody>  
</table>

<%= will_paginate %>

