<% provide(:title, 'Index') %>
<h1> All Articles </h1>
<%= render 'searcher' %>
<%= link_to 'Add new article', new_article_path %>  
<%= will_paginate %>


<table>
  <thead>
    <tr>
      <th> <%=  index_table_header 'ID', :id, @field, @direction %> </th>    
      <th> <%=  index_table_header 'Article Title', :title, @field, @direction %> </th>
      <th> Release Date </th>
      <th> More Info </th>
    </tr>
  </thead>

  <tbody>  
    <li>
    
        
    <% @articles.each do |article| %>
      <tr>
       <td>
         <%= link_to article.id, article_path(article) %>
       </td>
	     <td>
	       <%= link_to article.title, article_path(article) %>	       
    	 </td>
       <td>
         <%= time_ago_in_words(article.created_at) %>
       </td>	     
      </tr>
    <% end %>
  </tbody>  
</table>

<%= will_paginate %>

