<% provide(:title, t('articles.show.title')) %>

<h1><%= t 'articles.show.content' %></h1>
<title><%= yield(:title) %></title>
<h2><%= t 'articles.title' %><%= (@article.title) %></h2>
<h3><%= t 'articles.content' %></h3>
<p><%= raw RedCloth.new(@article.content).to_html %>
<%= t 'articles.released' %> <%= t(@article.created_at, format: :short) %>.</p>
<%= link_to t('articles.show.edit'), edit_article_path(@article) %>
<%= link_to t('articles.show.back'), articles_path %>

<%= button_to t('articles.delete'), @article, :method => :delete, :data => { :confirm => 'Are you sure?' } %>










