<% provide(:title, 'Show') %>

<h1><%= raw RedCloth.new(@article.title).to_html %></h1>
<title><%= yield(:title) %></title>
<h2> Details about <%= raw RedCloth.new(@article.title).to_html %></h2>
<ul>
	<li>Title: <%= raw RedCloth.new(@article.title).to_html %></li>
</ul>
<h3> Description:</h3>
<%= raw RedCloth.new(@article.content).to_html %>
Posted <%= time_ago_in_words(@article.created_at) %> ago.
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Back to list", articles_path %>
<%= button_to 'Delete', @article, :method => :delete, :data => { :confirm => 'Are you sure?' } %>





