<% provide(:title, 'Hola') %>
<h1><%= @article.title %></h1>
<title><%= yield(:title) %></title>


<h2> Details about <%= @article.title %></h2>
<ul>
	<li>Title: <%= @article.title%></li>
	<li>Released on:?¿</li>
</ul>
<h3> Description:</h3>
<p><%= @article.content%></p>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Back to movie list", articles_path %>





